@using Capstone.Web.Models;
@model Park
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.ParkName</h2>
<h4 class="text-center">
    "@Model.Quote"-<em>@Model.QuoteSource</em>
</h4>
<img class="small-image" src="@Url.Content("~/Content/img/" + Model.ParkCode +".jpg" )" />
<div>
    <p>@Model.ParkName  is located in @Model.State</p>
    <p>@Model.Description</p>
    <p>The park is @Model.Acreage acres large with an elevation of @Model.ElevationInFeet feel with @Model.MilesOfTrail  miles of trails!</p>
    @{
        if (Model.NumberOfCampSites == 0)
        {
            <p>Unfortunately the park has no campsites avaialbe to reserve and the entry fee is  @Model.EntryFee.ToString("C")</p>
        }
        else
        {
            <p>Within the park there are @Model.NumberOfCampSites campsites avaialbe to reserve for up to two weeks(federal law states) and the entry fee is  @Model.EntryFee.ToString("C")</p>
        }

    }
    <p>Founded in @Model.YearFounded with an annual tourist amount of @Model.AnnualVistors and promotes a local animal population of @Model.AnimalSpecies different species!</p>
    <p>Which currently has @Model.Climate Climate</p>

</div>


<h3 class="text-center">Five Day Forecast</h3>
<div class="row">

    @foreach (var w in Model.weather)
    {
        <div class="col-xs-12 col-sm-2 ">
            <p><img class="img-responsive" src="@Url.Content("~/Content/img/" + w.Forecast + ".png")" /></p>

            @if (w.FiveDayForecastValue == 1)
            {
                <p>Today's Weather</p>
            }
            else if(w.FiveDayForecastValue == 2)
            {
                <p>Tomorrow's Weather</p>
            }
            <p>High  @w.High °F / @(Math.Round((w.High - 32) * .5555, 0))°C</p>
            <p>Low  @w.Low °F / @(Math.Round((w.Low - 32) * .5555, 0))°C</p>

            @*@if (Model.IsFahrenheit)
            {
                <p>High  @w.High °F </p>
                <p>Low  @w.Low °F </p>

            }
            else
            {
                <p> @(Math.Round((w.High - 32) * .5555, 0))°C</p>
                <p>@(Math.Round((w.Low - 32) * .5555, 0))°C</p>
            }*@

            @{if (w.Forecast == "snow")
                {
                    <p>Pack snowshoes!!</p>
                }
                else if (w.Forecast == "rain")
                {
                    <p>Pack raingear and wear waterproof shoes!!</p>
                }
                else if (w.Forecast == "thunderstorms")
                {
                    <p>Seek shelter and avoid hiking on exposed ridges!!</p>
                }
                else if (w.Forecast == "sunny")
                {
                    <p>Pack Sunblock!!</p>
                }
                if (w.High > 75)
                {
                    <p>Bring an extra gallon of water!</p>
                }
                if (w.High - w.Low > 20)
                {
                    <p>Wear breathable clothes.</p>
                }
                if (w.High < 20 || w.Low < 20)
                {
                    <p>WARNING Frigid Tempatures, wear appropriate clothing</p>
                }
            }
        </div>
                }
</div>
@*@if (Model.IsFahrenheit)
{
    
<form action="@Url.Action("Detail", "Home",  new {parkID = Model.ParkCode})" method="get">
    <button>Convert to Celsius</button>
    </form>
}
else if (!Model.IsFahrenheit)
{
    <form action="@Url.Action("Detail", "Home", new {parkID = Model.ParkCode})" method="get">
        <button>Convert to Fahrenheit</button>
    </form>
}*@