@using Capstone.Web.Models;
@model List<Park>
@{
    ViewBag.Title = "Home";
}

<h1 class="text-center title-head pad">Your National Parks</h1>

@foreach (var p in Model)
{

    <div>
        <h3 class="text-center"><strong>@p.ParkName</strong></h3>
        <p>
            <a href="@Url.Action("Detail", "Home", new {parkID = p.ParkCode})">
                <img class="small-image center-block img-rounded " src="@Url.Content("~/Content/img/" + p.ParkCode +".jpg" )" />

            </a>
        </p>

        <p>
            @p.Description
        </p>
        <hr />
    </div>


}@*<p>
        <a href="@Url.Action("Detail", "Home", new {parkID = p.ParkCode})">
            <img class="small-image center-block img-rounded " src="@Url.Content("~/Content/img/" + p.ParkCode +".jpg" )" />

        </a>
    </p>*@

