@using Capstone.Web.Models;
@model Survey
@{
    ViewBag.Title = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TakeSurvey</h2>

<form action="@Url.Action("TakeSurvey","Home")" method="post">

    <div>
        @Html.LabelFor(m =>m.ParkCode)
        @Html.DropDownListFor(m => m.ParkCode, Survey.parkCodes )        
    </div>
    <div>
        @Html.LabelFor(m=>m.Email)
        @Html.TextBoxFor(m =>m.Email)
        @Html.ValidationMessageFor(m=>m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State)
        @Html.ValidationMessageFor(m => m.State)
    </div>
    <div>
        @Html.LabelFor(m => m.ActivityLevel)
        @Html.TextAreaFor(m => m.ActivityLevel)
        @Html.ValidationMessageFor(m => m.ActivityLevel)
    </div>
    <button>HOW WAS YOUR TIME!!!!!! friend</button>

</form>

